<div class="col-2">
  <!-- this style declaration could have been a class in your stylesheet -->
  <a href="#" style="text-decoration: none" id="option-<%=option.id%>" onclick="addToOrder(<%=option.id%>)">
    <p hidden><%=option.name%></p>
    <p hidden><%=option.base_price%></p>

    <div class="card bg-light option">
      <div class="card-body text-center d-flex align-items-center justify-content-center">
        <%=option.name%>
        <%=number_to_currency(option.base_price)%>
      </div>
    </div>
  </a>
</div>
