<div id="<%= dom_id option %>">
  <td>
    <%= number_to_currency(option.base_price) %>
  </td>

  <td>
    <%= option.name %>
  </td>

  <td>
    <%= option.category.name %>
  </td>
  <td>
    <%= link_to "Show this option", edit_option_path(option) %>
  </td>

</div>
