<div id="<%= dom_id customer %>">
  <td>
    <%= customer.phone_number %>
  </td>

  <td>
    <%= customer.email %>
  </td>

  <td>
    <%= customer.last_name %>
  </td>

  <td>
    <%= customer.first_name %>
  </td>

  <td>
    <%= customer.address %>
  </td>

  <td>
    <%= customer.orders_count %>
  </td>
  <td>
    <%= link_to "Edit this customer", edit_customer_path(customer) %>
  </td>
</div>
