<div id="<%= dom_id order %>">
  <td>
    <%=order.id%>
  </td>
  <td><%= order.customer.last_name %></td>
  <td>
    <%= order.items_count %>
  </td>
  <td>
    <% total = order.price - order.pre_paid%>
    <%= number_to_currency(total) %>
  </td>
  <td>
    <%= order.due_date %>
  </td>
  <td><%=order.status%></td>
  <td>
    <%= link_to "Edit Order", edit_order_path(order.id) %>
  </td>
  <td>
    <%=link_to "Make Payment", payment_path(order) %>
  </td>
</div>
