<div id="<%= dom_id order %>">
  <p>
    <strong>Price:</strong>
    <%= number_to_currency(order.price) %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= order.due_date %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= order.employee_id %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= order.payment_method %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Pre paid:</strong>
    <%= number_to_currency(order.pre_paid) %>
  </p>

  <p>
    <strong>Items count:</strong>
    <%= order.items_count %>
  </p>

</div>
