<h1>New order</h1>
<div>
  <div class="row justify-content-around py-5">
    <% @options.each do |option| %>
      <%=render "options/card", option: option%>
    <%end%>
  </div>
  <%= render "form", order: @order %>
</div>

<br>

<div>
  <%= link_to "Back to orders", orders_path %>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Find Customer</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <%=render "customers/simple_list" %>
      </div>
      <div class="modal-footer">
        <%= link_to "New Customer", new_customer_path, class: "btn btn-secondary"%>
      </div>
    </div>
  </div>
</div>

<% if params[:cust_id].present? %>
  <%# <script>
    $("#customer_order_id").val(<%= params[:cust_id]) %>
  <%# </script> %>
    <script>
      let count = 0;
    function addToOrder(option) {
    let elements = $(`#option-${option}`).children("p");
    console.log($(elements[0]).text());
    console.log($(elements[1]).text());

    let quantityinput = $('<input>')
    .attr('type', 'number')
    .attr('name',`order[items_attributes][${count}][quantity]`)
    .attr('id', `order_items_attributes_${count}_quantity`)
    .attr('value',1)
    .addClass("numeric integer required");

    let priceinput = $('<input>')
    .attr('type', 'number')
    .attr('name',`order[items_attributes][${count}][price]`)
    .attr('id', `order_items_attributes_${count}_price`)
    .attr('value', $(elements[1]).text());

    let optioninput = $('<input>')
    .attr('type', 'hidden')
    .attr('name',`order[items_attributes][${count}][option_id]`)
    .attr('id', `order_items_attributes_${count}_option_id`)
    .attr('value', option);

    let nameinput = $('<input>')
    .attr('type', 'text')
    .attr('name',`order[items_attributes][${count}][name]`)
    .attr('id', `order_items_attributes_${count}_name`)
    .attr('value', $(elements[0]).text())
    .addClass("string required");

    $('#items-selected').append(nameinput);
    $('#items-selected').append(quantityinput);
    $('#items-selected').append(optioninput);
    $('#items-selected').append(priceinput);
    count++;
    }
  </script>
<% else %>
  <script>
    document.addEventListener('DOMContentLoaded',function(){
      $('#myModal').modal('show');
    });
  </script>
<% end %>
