<!DOCTYPE html>
<html>
  <head>
    <title>Valenti Cleaners</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "imports/bootstrap"%>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag("card")%>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.30.4/css/keyboard.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <div class="container">
      <% if notice  %>
        <p class="alert alert-success" role="alert" ><%= notice %></p>
      <% elsif alert%>
        <p class="alert alert-danger" role="alert"><%= alert %></p>
      <% end %>
      <%= render "shared/breadcrumbs" %>
      <%= yield %>
    </div>
  </body>
</html>
